body {
    background-color: #fff;
    margin: 0;
}
.containers__all {
    display: flex;
    height: 700px;
    width: 1152px;
}

.flex-container {
    display: flex;
    background-color: #EBC5CE;
    height: 160px;
    width: 468px;
    border-radius: 8px;
    margin: 10px;
    align-items: flex-end;
    justify-content: flex-start;
}

.flex-item {
    display: flex;
    background-color: #D199A6;
    height: 78px;
    width: 78px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}